* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#app {
  font-family: "Montserrat", sans-serif;
  color: #2c3e50;
  ul {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 200px;
    gap: 1rem;
  }
}

ul,
li,
menu {
  list-style: none;
}

.main__container {
  padding: 5rem 2rem 0 2rem;
  h3 {
    color: white;
    padding: 2rem 0;
  }
}

body {
  background-color: #1b1b1b;
}